.footer {
  background-color: #fec5bb;
}

.footer > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__content p {
  margin: 0.5rem;
}

.footer__content a {
  text-decoration: none;
  color: inherit;
}

.footer__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.footer__content li {
  margin: 0.2rem;
}

p a {
  font-weight: 600;
}

h4 + a {
  display: inline-block;
  margin-bottom: 1rem;
}

h4 ~ a:hover {
  color: white;
}

@media screen and (max-width: 470px) {
  .footer > div {
    font-size: 0.9rem;
    width: 95%;
  }
  .footer__content:nth-of-type(2) {
    font-size: 0.75rem;
  }
}
