.category-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.category-nav a {
  text-decoration: none;
  color: #bc4749;
}

.category-nav a:hover,
.category-nav a:active {
  color: #e63946;
}

a.active {
  text-decoration: underline #bc4749;
}
