.category-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 95%;
}

.category-nav a {
  text-decoration: none;
  color: #bc4749;
}

.category-nav a:hover,
.category-nav a:active {
  color: #e63946;
}

a.active {
  text-decoration: underline #bc4749;
}

@media screen and (max-width: 660px) {
  .category-nav a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.5rem;
  }
}
