.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 30%;
  margin: 1rem;
  border-radius: 10%;
  border: 2px solid #fec5bb;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

.product-card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.product-card > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
}
.product-card div {
  width: 100%;
  pointer-events: none;
}

.product-card span {
  color: #bc4749;
  font-weight: 600;
  padding: 0 0.5rem;
}

.product-card:hover {
  border-radius: 0% 100% 0% 100% / 67% 32% 68% 33%;
  transform: scale(1.1);
  -webkit-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  -moz-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
}

@media screen and (max-width: 982px) {
  .product-card {
    width: 45%;
    /* min-width: 100px; */
  }
}

@media screen and (max-width: 660px) {
  .product-card {
    width: 95%;
  }
}
