.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fec5bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
  -moz-box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
  box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
  grid-area: 'header';
}

.logo {
  margin: 0;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.main-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav ul,
.icons ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li,
.icons li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #343a40;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: white;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
}

.cart-badge {
  border: 1px solid #343a40;
  border-radius: 20%;
  width: 38px;
  height: 27px;
  margin-left: 0.2rem;
  text-align: center;
}

.animated {
  animation: bump 300ms ease-out;
}

.icon {
  display: none;
  cursor: pointer;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    background-color: white;
    top: 84px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
    -moz-box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
    box-shadow: 0px 8px 8px 0px rgba(111, 31, 70, 0.2);
  }
  .icon {
    display: block;
  }

  .nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #bc4749;
    text-decoration: none;
    letter-spacing: 0.05em;
  }

  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: #bc4749;
    text-decoration: underline;
  }
  .opened {
    max-height: 800px;
    padding: 15px 0;
    transition: all 1s;
    display: flex;
  }
  .opened ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 450px) {
  .logo a {
    font-size: 1rem;
  }
  .header {
    padding: 0.5rem;
  }
  .nav {
    top: 57px;
  }
  .icons li {
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}
