.cart {
  margin: 3rem auto;
  width: 95%;
  max-width: 35rem;
  border-radius: 6px;
  border: 5px solid #fec5bb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.cart__products {
  width: 95%;
  margin: 0.5rem auto;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 1.8rem;
}

.cart__total h2 {
  margin: 0;
}

.cart__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
