.container {
  margin: 3rem auto;
  width: 95%;
  max-width: 35rem;
  border-radius: 6px;
  border: 5px solid #fec5bb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 1.8rem;
}

.total h2 {
  margin: 0;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* .container > div {
  margin: 1rem 0.5rem 0.5rem;
} */
