.product-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 10%;
  width: 100%;
}

.form {
  display: inline;
}

.product-modal div:nth-of-type(2) {
  margin: 0 1rem;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.product-modal h2 {
  color: #bc4749;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bc4749;
}

.product-modal h3 {
  font-size: 20px;
}

.product-modal p {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bc4749;
}

.product-modal input {
  outline: none;
  margin: 0.25rem;
  padding: 0.25rem;
  width: 2rem;
  border: 1px solid #bc4749;
  border-radius: 15%;
}

.product-modal label {
  margin: 0.25rem;
}
