.category-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  background-color: #fae1dd;
  width: 20%;
}

.category-card > div {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.category-card img {
  object-fit: cover;
  height: 12rem;
  transition: 1s;
  display: block;
  width: 100%;
}

.category-card span {
  display: inline-block;
  padding: 0.5rem 0;
}

.category-card img:hover {
  transform: scale(1.2);
}

.category-card:hover {
  -webkit-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  -moz-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
}

@media screen and (max-width: 650px) {
  .category-card {
    width: 33.3%;
  }
}
