* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #f8edeb;
  color: #343a40;
  position: relative;
  font-family: 'Comfortaa', cursive;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.main {
  grid-area: 'main';
}

.centered {
  margin: 5rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #343a40;
  font-size: 3rem;
}

.text-darkPink {
  color: #bc4749;
}

.link {
  text-decoration: none;
}

.button {
  width: 5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 10%;
  cursor: pointer;
  border: 1px solid #bc4749;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.button:hover,
.button:active {
  -webkit-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  -moz-box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
  box-shadow: 1px 4px 19px 3px rgba(180, 114, 184, 0.28);
}

.cancel {
  color: #bc4749;
}

.add {
  color: white;
  background-color: #bc4749;
}

.cancel:hover,
.cancel:active {
  color: #e63946;
  border-color: #e63946;
}

.add:hover,
.add:active {
  background-color: #f28482;
}
